streamlit
speechrecognition
openai
python-dotenv
pandas
requests
SQLAlchemy
reportlab
openpyxl
matplotlib
Pillow
seaborn
fpdf
gdown
supabase





# PyTorch (CPU 전용, Python 3.12 호환)
torch==2.2.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu


# Hugging Face 모델
transformers==4.37.2